<h1 class="jumbotron center">Welcome to Project Management!</h1>

<div id="user_header" class="center">
  <%= notice %> <br>
  <% if logged_in? %>
  		Hi <%= @current_user.username %> <br>
       <%= link_to 'Logout', logout_path %>
  <% else %>
     <button class="btn btn-primary"><%= link_to "Sign Up", signup_path, :class => "menuButton" %></button>
     <button class="btn btn-success"><%= link_to "Log In", login_path, :class => "menuButton" %></button>       
  <% end %>
</div>