<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :customer_company %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :customer_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :customer_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :customer_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :customer_zip %>
  </div>

  <ul>
    <%= form.fields_for :projects do |projects_form| %>
      <li>
        <%= projects_form.hidden_field :customer_id, value: customer.id %>

        <%= projects_form.label :project_name %>
        <%= projects_form.text_field :project_name %>

      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
